/*.prueba{
  background-color: red;
}
.clasprueba{
    background-color: red;
    text-align: center !important;
}
p img {
    display: block;
}
img.center{
    text-align:center;
}*/
p:has(> img) {
    text-align:center;
    border-color: red;
}
@page {
  margin-top: 75px;
  margin-left:50px;
  margin-bottom: 100px;
}
@page :first {
  header: page-portada;
  footer: page-footerPortada;
}
@page {
  header: page-header;
  footer: page-footer;
}
.header{
  text-align: center;
  color: gray;
}
.footer{
  text-align: center;
  color: gray;
}
.paginacion{
  text-align: right;
}
div.border {
  border-bottom: 1px solid gray;
}
.titulo{
  background-color: #C50505;
  color: white;
  font-size: 13px;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}
.contenido{

}
